* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  height: 100vh;
}

/* home heading */
.Home-heading {
  padding-top: 10rem;
  padding-left: 5rem;
}
/* input field */
.Email-me {
  width: 80%;
  height: 2.5rem;
  border: 1px solid orange;
  border-radius: 3px;
  padding-left: 1.25rem;
}
/* animated-image */
.animated-image {
  width: 30rem;
  padding-right: 2rem;
  padding-top: 10rem;
}
